.slider-arrows{

	.slider_controls{
		top: -90px;
		position: relative;
		width: 100%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;

	}
}
.section-catalog{
	background-color: #f6f6f7;
}
.tabs{
	//background-color: #f6f6f7;
	padding: 65px 0 75px 0;
	&__content {
	  display: none;
	margin-top: 40px;
	}
	&__content.active {
	  display: block;
	}
	&__caption{
		border-bottom: 1px solid #cbcbcb;
		cursor: pointer;
		li{
			display: inline-block;
			padding-bottom: 17px;
			text-transform: uppercase;
			&.active{
				border-bottom: 3px solid #f57812;
			}
			&:not(:last-child){
				margin-right: 30px;
			}
		}
	}
}

.catalog-item{
	text-align: center;
	padding: 30px;
	background-color: white;
	margin-bottom: 30px;
	display: block;
	color: black;
	&__img{
		height: 140px;
		margin-bottom: 25px;
	}
	&:hover{
		box-shadow: 0px 9px 29px -5px rgba(0,0,0,0.5);
		color: #f57812;
	}
	&__name{
		font-size: 14px;
	}
}
