.filters
	form(action="#" method="get")
		.filters__close-btn.hide-laptop
			img(src="images/remove_item.png", alt="Спрятать фильтр")
		.filter__block.filter__block_top
			.filter__block__name  Тип кузова
			.filter__block__item
				input(type="checkbox" name="s1", id="chkbox1")
				label(for="chkbox1")
					span Седан
			.filter__block__item
				input(type="checkbox" name="s2", id="chkbox2")
				label(for="chkbox2")
					span Хетчбэк
		.filter__block
			.filter__block__name  Категория товара
			.filter__block__item
				input(type="checkbox", name="s4", id="chkbox4")
				label(for="chkbox4")
					span Левая
			.filter__block__item
				input(type="checkbox" name="s5", id="chkbox5")
				label(for="chkbox5")
					span Правая
		.filter__block
			.filter__block__name Цена,руб.
			.filter__block__item
				.price-filter
					input(type="text",name="price-from", placeholder="от")
					span.separate &mdash;
					input(type="text",name="price-to", placeholder="до")
					button(type="submit") ОК
		.filter__block
			.filter__block__name Бренд
			.filter__block__item
				input(type="search" name="brand", placeholder="Введите название")
			.filter__block__item
				input(type="checkbox" name="s12", id="chkbox12")
				label(for="chkbox12")
					span 3d Carbon
			.filter__block__item
				input(type="checkbox" name="s13", id="chkbox13")
				label(for="chkbox13")
					span ACE Engineering
			.filter__block__item
				input(type="checkbox" name="s14", id="chkbox14")
				label(for="chkbox14")
					span Addictive Desert Designs
			.filter__block__item
				input(type="checkbox" name="s15", id="chkbox15")
				label(for="chkbox15")
					span AFCO
			.filter__block__item
				input(type="checkbox" name="s16", id="chkbox16")
				label(for="chkbox16")
					span AeroCatch
			.filter__block__item
				input(type="checkbox" name="s17", id="chkbox17")
				label(for="chkbox17")
					span Aero Function
			.filter__block__item
				input(type="checkbox" name="s18", id="chkbox18")
				label(for="chkbox18")
					span AFCO
			.filter__block__item
				input(type="checkbox" name="s19", id="chkbox19")
				label(for="chkbox19")
					span aFe
			.filter__block__item
				input(type="checkbox" name="s20", id="chkbox20")
				label(for="chkbox20")
					span Agency Power
			.filter__block__item
				input(type="checkbox" name="s21", id="chkbox21")
				label(for="chkbox21")
					span Air Design
			.filter__block__item
				input(type="checkbox" name="s22", id="chkbox22")
				label(for="chkbox22")
					span AIT Racing
			.filter__block__item
				input(type="checkbox" name="s23", id="chkbox23")
				label(for="chkbox23")
					span Akrapovic
			.filter__block__item
				input(type="checkbox" name="s24", id="chkbox24")
				label(for="chkbox24")
					span All-Fit Automotive
			.filter__block__item
				.view-more
					span.icon.icon_view-more
					span Показать еще
		.filter__block
			.filter__block__name Рейтинг
			.filter__block__item
				.rating
					.rating-hover
					input(type="hidden" name="rating" value="")
