.wrapper
	.footer
		.btn.btn_up Вверх
		.flex-container
			.flex-column
				mixin footer__list(title, ...items)
					.footer__title= title
					ul.footer__list
						each item in items
							li
								a(href="#")= item
				.footer__title
					a(href="#") Внешний Тюнинг
				.footer__title
					a(href="#") Автомобильное освещение
				.footer__title
					a(href="#") Тюнинг Салона 
			.flex-column.show-laptop
				+footer__list('Информация','О компании', 'Доставка и оплата', 'Отзывы', 'Гарантии', 'Контакты')
			.flex-column.flex-column_grid-row
				.footer__title.show-laptop Мы в социальных сетях
				.contacts-box
					.contacts-phone
						a(href="tel: 88003432221")
							span.icon.icon_phone
							span 8 800 343 22 21
					.contacts-info Пн-Пт, 8:30 - 17:30 (МСК)
					a(href="mailto: info@centretuning.ru").contacts-email info@centretuning.ru
					.contacts-info г.Москва, ул. Петровка, |д. 38, оф.4
				.footer__widget.footer__list
					img(src="images/widget.png")
			.flex-column.show-laptop.right-laptop
				.footer__title Контакты
				.contacts-phone
					a(href="tel: 88003432221")
						span.icon.icon_phone
						span 8 800 343 22 21
				.contacts-info Пн-Пт, 8:30 - 17:30 (МСК)
				
				a(href="mailto: info@centretuning.ru").contacts-email info@centretuning.ru
				.contacts-info г.Москва, ул. Петровка,
					br
					|д. 38, оф.4
		.footer__payment.show-tablet
			img(src="images/footer-payment.png")
hr
.wrapper
	.footer-rights Copyright © 2003-2018 CARiD.com.
	.footer__design-autor
		span Дизайн сайта -
		a(href="#") Михаил Соловьев
