.header-top
	.wrapper
		.company-info.show-laptop-inline
			ul
				li
					a(href="#") О компании
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") Отзывы
				li
					a(href="#") Гарантии
				li
					a(href="#") Контакты
		.company-contacts
			a(href="tel:88003432221").phone
				span.icon.icon_phone
				span 8 800 343 22 21
			a(href="mailto:info@centretuning.ru").mail.show-laptop-inline info@centretuning.ru
		.header-login
			a(href="#")
				span.sign-in Вход
			span.separate |
			a(href="#")
				span.underline Регистрация
.header-bottom
	.wrapper.clearfix
		a(href="#").logo
			img(src="images/logo.png",alt="logo")
		.right-side
			.first-line
				.search
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit")
							i.fa.fa-search
				.login.show-laptop-inline
					a(href="#").btn.btn_login
						|Войти
					a(href="#").btn.btn_register
						|Зарегистрироваться
			.second-line
				.menu.show-laptop-inline
					ul
						li Внешний тюнинг
							ul.sub-menu
								li.sub-list
									a(href="#") Обвесы
								li.sub-list
									a(href="#") Решетки радиатора
								li.sub-list
									a(href="#") Капоты-тюнинговые
								li.sub-list
									a(href="#") Зеркала боковые
								li.sub-list
									a(href="#") Ручки дверей
								li.sub-list
									a(href="#") Рейлинги и поперечины
								li.sub-list
									a(href="#") Прочие элементы
						li Автосвет
							ul.sub-menu
								li.sub-list
									a(href="#") Передние фары
								li.sub-list
									a(href="#") Задние фары
								li.sub-list
									a(href="#") Поворотники
								li.sub-list
									a(href="#") Противотуманные
								li.sub-list
									a(href="#") Сигнальный свет
						li Тюнинг Салона
							ul.sub-menu
								li.sub-list
									a(href="#") Панель приборов
								li.sub-list
									a(href="#") Элементы салона
								li.sub-list
									a(href="#") Обивка потолка
				.header-user-buttons
					.bars
						.bar
						.bar
						.bar
					a(href="#").wishlist
						span.icon.icon_wishlist
					a(href="#").cart
						span.icon.icon_cart
						span.show-laptop-inline 22 400
						i.show-laptop-inline "
	.main-menu-mobile
		.wrapper
			ul
				li 
					span Внешний тюнинг
					i.fa.fa-chevron-down
					ul.sub-menu-mobile
						li
							a(href="#") Обвесы
						li
							a(href="#") Решетки радиатора
						li
							a(href="#") Капоты-тюнинговые
						li
							a(href="#") Зеркала боковые
						li
							a(href="#") Ручки дверей
						li
							a(href="#") Рейлинги и поперечины
						li
							a(href="#") Прочие элементы
					
				li 
					span Автомобильное освещение
					i.fa.fa-chevron-down
					ul.sub-menu-mobile
						li
							a(href="#") Передние фары
						li
							a(href="#") Задние фары
						li
							a(href="#") Поворотники
						li
							a(href="#") Противотуманные
						li
							a(href="#") Сигнальный свет
				li 
					span Тюнинг Салона
					i.fa.fa-chevron-down
					ul.sub-menu-mobile
						li
							a(href="#") Панель приборов
						li
							a(href="#") Элементы салона
						li
							a(href="#") Обивка потолка
				li
					a(href="#") О компании
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") Отзывы
				li
					a(href="#") Гарантии
				li
					a(href="#") Контакты
			.contacts-box
				.contacts-phone
					a(href="tel: 88003432221")
						span.icon.icon_phone
						span 8 800 343 22 21
				.contacts-info Пн-Пт, 8:30 - 17:30 (МСК)
				a(href="mailto: info@centretuning.ru").contacts-email info@centretuning.ru
			.login
				a(href="#").btn.btn_login.btn.btn_login_mobile
					|Войти
				a(href="#").btn.btn_register.btn_register_mobile
					|Зарегистрироваться
