.header-top
	.wrapper
		.company-info.show-laptop-inline
			ul
				li
					a(href="#") О компании
				li
					a(href="#") Доставка и оплата
				li
					a(href="#") Отзывы
				li
					a(href="#") Гарантии
				li
					a(href="#") Контакты
		.company-contacts
			a(href="tel:88003432221").phone
				span.icon.icon_phone
				span 8 800 343 22 21
			a(href="mailto:info@centretuning.ru").mail.show-laptop-inline info@centretuning.ru
		.header-login
			a(href="#")
				span.sign-in Вход
			span.separate |
			a(href="#")
				span.underline Регистрация
.header-bottom
	.wrapper.clearfix
		a(href="#").logo
			img(src="images/logo.png",alt="logo")
		.right-side
			.first-line
				.search
					form
						input(type="search", placeholder="Поиск", name="search")
						button(type="submit")
							i.fa.fa-search
				.login.show-laptop-inline
					a(href="#").btn.btn_login
						|Войти
					a(href="#").btn.btn_register
						|Зарегистрироваться
			.second-line
				.menu.show-tablet-inline
					ul
						li Внешний тюнинг
							ul.sub-menu
								li.sub-list
									a(href="#") Обвесы
								li.sub-list
									a(href="#") Решетки радиатора
								li.sub-list
									a(href="#") Капоты-тюнинговые
								li.sub-list
									a(href="#") Зеркала боковые
								li.sub-list
									a(href="#") Ручки дверей
								li.sub-list
									a(href="#") Рейлинги и поперечины
								li.sub-list
									a(href="#") Прочие элементы
							
						li Автомобильное освещение
						li Тюнинг Салона
				.header-user-buttons
					a(href="#").wishlist
						span.icon.icon_wishlist
					a(href="#").cart
						span.icon.icon_cart
						span.show-laptop-inline 22 400
						i.show-laptop-inline "
