.pgs-btn.pgs-btn-active
	span
	span
.pgs.pgs-active-panel
	.pgs-nav.pgs-active-panel
		ul
			li
				a(href="index.html") Главная
				a(href="catalog.html") Каталог
				a(href="product_model.html") model
	.pgs-project-name
		span Be master mobile
	.pgs-project-logo
		span.pgs-project-version-site Adaptive
		img(src="images/logo.png" alt="" id="pgs-logo" style="width: 150px")
	.pgs-footer.pgs-active-panel
		img(src="libs/pgs-panel/img/tech.png" alt="" id="tech")
		img(src="libs/pgs-panel/img/logo-group.png" alt="" id="pgs-logo-group")
		a(href="tel:89110854626" id="pgs-phone") 8 911 085 46 26
		a(href="www.givesale.ru" id="pgs-domen") www.givesale.ru
