.wrapper
  .title.icon Отзывы
  .sub-title Отзывы о нашей продукции в группе вконтакте. Только реальные отзывы от реальных людей.
  ul#review-slider
    li
      img(src="images/photo/review_01.png")
    li
      img(src="images/photo/review_02.png")
    li
      img(src="images/photo/review_01.png")
