.wrapper
	.review-title Отзывы
	.sub-title Отзывы о нашей продукции в группе вконтакте. Только реальные отзывы от реальных людей.
	#review-slider_wrapper
		ul#review-slider
			li
				img(src="images/photo/review_01.png", alt="")
			li
				img(src="images/photo/review_02.png", alt="")
			li
				img(src="images/photo/review_01.png", alt="")
		.slider-arrows
			.slider_controls
				span.icon.ls-prevSlide
				span.icon.ls-nextSlide
