
html(lang="ru")
	head
		include ./parts/head.pug
	body
		include ./parts/pgs.pug
		include ./parts/header.pug
		.car-selection
			.title
				|Выберите автомомбиль
			.selection
				form
					select(name="brand")
						option(selected) Марка автомобиля
						option BMW
						option VW
						option Audi
					select(name="model")
						option(selected) Модель
						option A4
						option Q7
						option Golf
					select(name="year")
						option(selected) Год Выпуска
						option 2010
						option 2011
						option 2012
						option 2013
						option 2014
					button(type="submit") Найти
		.wrapper
			.section__title.section__title_news Новинки
			.news.hide-laptop
				.slider-arrows
					.slider_controls#news-slider-controls
						span.icon.ls-prevSlide
						span.icon.ls-nextSlide
				ul#news-slider
					li
						a(href="#").new
							.pic
								img(src="images/photo/brand-pic_01.png", alt="icon")
							.text
								.name
									|Brembo
								.description
									|Truck bed equipment unmatched in functionality and security.
					li
						a(href="#").new
							.pic
								img(src="images/photo/brand-pic_02.png", alt="icon")
							.text
								.name
									|LB Works
								.description
									|Truck bed equipment unmatched in functionality and security.
					li
						a(href="#").new
							.pic
								img(src="images/photo/brand-pic_03.png", alt="icon")
							.text
								.name
									|Toyota Land Cruiser
								.description
									|Truck bed equipment unmatched in functionality and security.
					
			.row.clearfix.news.show-laptop
				.col-tablet-1-3.col-phablet-1-2.no-padding_mobile
					a(href="#").new
						.pic
							img(src="images/photo/brand-pic_01.png", alt="icon")
						.text
							.name
								|Brembo
							.description
								|Truck bed equipment unmatched in functionality and security.
				.col-tablet-1-3.col-phablet-1-2.no-padding_mobile
					a(href="#").new
						.pic
							img(src="images/photo/brand-pic_02.png", alt="icon")
						.text
							.name
								|LB Works
							.description
								|Truck bed equipment unmatched in functionality and security.
				.col-tablet-1-3.col-phablet-1-2.no-padding_mobile
					a(href="#").new
						.pic
							img(src="images/photo/brand-pic_03.png", alt="icon")
						.text
							.name
								|Toyota Land Cruiser
							.description
								|Truck bed equipment unmatched in functionality and security.0
		.section-catalog
			.wrapper
				.section__title Выбор категорий тюнинга
				.tabs
					ul.tabs__caption
						li.active
							.tabs__img
								img(src="images/photo/main-menu-icon_01.png",alt="")
							.tabs__title Внешний Тюнинг
						li
							.tabs__img
								img(src="images/photo/main-menu-icon_03.png",alt="")
							.tabs__title Автосвет
						li
							.tabs__img
								img(src="images/photo/main-menu-icon_02.png",alt="")
							.tabs__title Тюнинг Салона
					.tabs__content.active
						.row.clearfix
							mixin catalog-item(url, name, text)
								.col-mobileonly-1-2.col-phablet-1-2.col-table-1-3.col-laptop-1-4
									a.catalog-item(href="#")
										.catalog-item__img
											img(src=url,alt="icon")
										.catalog-item__name= name
										.catalog-item__sub-text= text
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_01.png', 'Обвесы',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_02.png', 'Решетки радиатора',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_03.png', 'Капоты - тюнинговые',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_04.png', 'Зеркала - боковые',"Заводские, Альтернатиыне, LED ")
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_05.png', 'Ручки дверей',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_06.png', 'Рейлинги и Поперечины',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/outdoor-tuning/outdoor-tuning_07.png', 'Прочие элементы',"Заводские, Альтернатиыне, LED")
					.tabs__content
						.row.clearfix
							+catalog-item('images/photo/lighting/lighting_01.png', 'Передние фары',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/lighting/lighting_03.png', 'Задние фары',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/lighting/lighting_08.png', 'Поворотники',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/lighting/lighting_06.png', 'Противотуманные',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/lighting/lighting_05.png', 'Сигнальный свет',"Заводские, Альтернатиыне, LED")
							
					.tabs__content
						.row.clearfix
							+catalog-item('images/photo/indoor-tuning/indoor-tuning_01.png', 'Панель приборов','Сигнальный свет',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/indoor-tuning/indoor-tuning_02.png', 'Элементы салона','Сигнальный свет',"Заводские, Альтернатиыне, LED")
							+catalog-item('images/photo/indoor-tuning/indoor-tuning_03.png', 'Обивка потолка','Сигнальный свет',"Заводские, Альтернатиыне, LED")
		include ./parts/review-slider.pug
				
		.last-seen
			.wrapper
				.title.off-margin
					|просмотренные товары
				.slider-arrows
					.slider_controls#last-seen
						span.icon.ls-prevSlide
						span.icon.ls-nextSlide
				ul#last-seen-slider
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_03.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_01.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_02.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_04.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_03.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star.grey
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
		include ./parts/footer.pug
