html
	head
		include ./parts/head.pug
		include ./parts/pgs.pug
	body
		.header-top
			.wrapper
				.company-info.show-laptop-inline
					ul
						li
							a(href="#") О компании
						li
							a(href="#") Доставка и оплата
						li
							a(href="#") Отзывы
						li
							a(href="#") Гарантии
						li
							a(href="#") Контакты
				.company-contacts
					a(href="tel:88003432221").phone
						span.icon.icon_phone
						span 8 800 343 22 21
					a(href="mailto:info@centretuning.ru").mail.show-laptop-inline info@centretuning.ru
				.header-login
					a(href="#")
						span.sign-in Вход
					span.separate |
					a(href="#")
						span.underline Регистрация
		.header-bottom
			.wrapper.clearfix
				.logo
					img(src="images/logo.png",alt="logo")
				.right-side
					.first-line
						.search
							form
								input(type="search", placeholder="Поиск", name="search")
								button(type="submit")
									i.fa.fa-search
						.login.show-laptop-inline
							a(href="#").btn.btn_login
								|Войти
							a(href="#").btn.btn_register
								|Зарегистрироваться
					.second-line
						.menu.show-tablet-inline
							ul
								li Внешний тюнинг
								li Автомобильное освещение
								li Тюнинг Салона
						.header-user-buttons
							a(href="#").wishlist
								span.icon.icon_wishlist
							a(href="#").cart
								span.icon.icon_cart
								span.show-laptop-inline 22 400
								i.show-laptop-inline "
		.car-selection
			.title
				|Выберите автомомбиль
			.selection
				form
					select(name="brand") Марка автомобиля
						option(selected) Марка автомобиля
						option BMW
						option VW
						option Audi
					select(name="model")
						option(selected) Модель
						option A4
						option Q7
						option Golf
					select(name="year")
						option(selected) Год Выпуска
						option 2010
						option 2011
						option 2012
						option 2013
						option 2014
					button(type="submit") Найти
		.main-menu
			a(href="#").menu__item
				.menu__item__icon
					img(src="images/photo/main-menu-icon_01.png", alt="icon")
				.menu__item__name
					|Внешний Тюнинг
			a(href="#").menu__item
				.menu__item__icon
					img(src="images/photo/main-menu-icon_02.png", alt="icon")
				.menu__item__name
					|Тюнинг Салона
			a(href="#").menu__item
				.menu__item__icon
					img(src="images/photo/main-menu-icon_03.png", alt="icon")
				.menu__item__name
					|Автомобильное освещение
		.wrapper
			.clearfix.brands
				.col-tablet-1-3.col-phablet-1-2
					a(href="#").brand
						.pic
							img(src="images/photo/brand-pic_01.png", alt="icon")
						.text
							.name
								|Brembo
							.description
								|Truck bed equipment unmatched in functionality and security.
				.col-tablet-1-3.col-phablet-1-2
					a(href="#").brand
						.pic
							img(src="images/photo/brand-pic_02.png", alt="icon")
						.text
							.name
								|LB Works
							.description
								|Truck bed equipment unmatched in functionality and security.
				.col-tablet-1-3.col-phablet-1-2
					a(href="#").brand
						.pic
							img(src="images/photo/brand-pic_03.png", alt="icon")
						.text
							.name
								|Toyota Land Cruiser
							.description
								|Truck bed equipment unmatched in functionality and security.0
		.section-catalog
			.wrapper
				.tabs
					ul.tabs__caption
						li.active
							span Внешний Тюнинг
						li
							span Автомобильное освещение
						li
							span Тюнинг Салона
					.tabs__content.active
						.row.clearfix
							mixin catalog-item(url, name)
								.col-phablet-1-2.col-table-1-3.col-laptop-1-4
									a.catalog-item(href="#")
										.catalog-item__img
											img(src=url)
										.catalog-item__name= name
							+catalog-item('images/photo/outdoor-tuning_01.png', 'Обвесы')
							+catalog-item('images/photo/outdoor-tuning_02.png', 'Решетки радиатора')
							+catalog-item('images/photo/outdoor-tuning_03.png', 'Капоты - тюнинговые')
							+catalog-item('images/photo/outdoor-tuning_04.png', 'Зеркала - боковые')
							+catalog-item('images/photo/outdoor-tuning_05.png', 'Ручки дверей')
							+catalog-item('images/photo/outdoor-tuning_06.png', 'Рейлинги и Поперечины')
							+catalog-item('images/photo/outdoor-tuning_07.png', 'Прочие элементы')
					.tabs__content.active
						.row.clearfix
							+catalog-item('images/photo/outdoor-tuning_01.png', 'Обвесы')
							+catalog-item('images/photo/outdoor-tuning_02.png', 'Решетки радиатора')
							+catalog-item('images/photo/outdoor-tuning_03.png', 'Капоты - тюнинговые')
								
		include ./parts/review-slider.pug
				
		.last-seen
			.wrapper
				.title
					|просмотренные товары
				.slider-arrows
					.slider_controls
						span.icon.ls-prevSlide
						span.icon.ls-nextSlide
				ul#last-seen-slider
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_03.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_01.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_02.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_04.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
					li
						.product
							a(href="#").product__pic
								img(src="images/photo/product_03.png", alt="icon")
							.product__info
								.product__rating
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
									i.fa.fa-star
								a(href="#").product__name
									|Задние фонари "BP" (диодные, красные/белые) для ВАЗ 2108, 2109, 2099 и 2113, 2114
								.product__price
									span 24 500
									i "
								.add-to-fav
								.add-to-cart
		include ./parts/footer.pug
