doctype html
html(lang="ru")
	head
		include ./parts/head.pug
	body
		include ./parts/pgs.pug
		include ./parts/header.pug
		.page-base
			.wrapper
				ul.breadcrumbs.breadcrumbs_cart
					li
						a(href="#") Главная
					li
						a(href="#") Оформление заказа
				.page-title
					|Оформление заказа
				.order-steps
					.step.active
						.step__img
							a.cart-modal(href="#")
								img(src="images/man-icon.png", alt="")
						.step__name
							|Общая информация
					.step
						.step__img
							img(src="images/card-icon.png", alt="")
						.step__name
							|Оплата заказа
					.step
						.step__img
							img(src="images/receipt-icon.png", alt="")
						.step__name
							|Чек об оплате
				.row.clearfix.cart-section
					.col-laptop-3-4
						form.order-form
							.form-section
								.title Информация
								.inner-wrap
									input#registers_1(type="radio" name="registers")
									label( for="registers_1") Я новый пользователь
									input#registers_2(type="radio" name="registers")
									label( for="registers_2") Я ранее делал заказы
							.form-section
								.title Адрес доставки
								.input-wrap
									span.name Фамилия
									input(type="text", name="user-name" required)
								.input-wrap
									span.name  Имя
									input(type="text", name="user-surname" required)
								.input-wrap.input-wrap_checkbox
									input#adress(type="checkbox",name="jur-adress")
									label.agred(for="jur-adress") Это юридический адрес
								.input-wrap
									span.name  Город
									input(type="text")
								.input-wrap
									span.name  Область
									select
								.input-wrap
									span.name  Город
									select
								.input-wrap
									span.name  Адрес
									input(type="text", name="adress" required)
								.input-wrap
									span.name  Индекс
									input.index(type="number" name="index" required)
							.form-section
								.title Контакты
								.input-wrap
									span.name  Телефон
									input(type="tel" placeholder="+7(___) ___ - __ - __", name="phone")
								.input-wrap.clearfix
									span.name  E-mail
									input(type="email", name="mail")
							.form-section.form-section_checkbox
								.input-wrap
									input#create-account(type="checkbox",name='create-account')
									label.options(for="create-account") Создать новый аккаунт
								.input-wrap
									input#subscribe(type="checkbox",name='subscribe')
									label.options(for="subscribe") Подписка на новости
							button(type="submit").btn.btn_submit-order.btn_so-order-page
								|Оформить заказ
					.col-laptop-1-4
						.your-order.your-order_order-page
							.your-order__title
								|Суммарный счет
							.your-order__items-count
								|1 товар
							table
								tr
									td Стоимость
									td
										.cart-item-price
											span 24 500
											i "
								tr
									td Стоимость доставки:
									td
										.cart-item-price
											span 24 500
											i "
								tr
									td Итого:
									td
										.cart-item-price.order-sum
											span 24 500
											i "
		include ./parts/footer.pug
