@import "fonts"
@import "vars"
@import "_mixins/media"


*
	box-sizing: border-box
img
	max-width: 100%
body
	position: relative
	overflow-x: hidden
	min-height: 100%
	min-width: 320px

	z-index: 0

	font-family: $roboto // Основной шрифт

button, input[type="button"], input[type="reset"], input[type="submit"]
	padding: 0
a:active,
a:focus,
a:hover
	text-decoration: none
a
	text-decoration: none
	color: inherit
ul
	list-style: none
ul.text
	margin: 30px 0
	li
		padding-left: 25px
		position: relative
		color: #707070
		font: 400 14px/22px $roboto
		&:not(:last-child)
			margin-bottom: 20px
		&:before
			content: "•"
			font-size: 2em
			color: #f57812
			position: absolute
			left: 0px
			display: inline-block
			top: -1px
p.text
	color: #707070
	font: 400 14px/22px $roboto
	margin-bottom: 25px
h3.text
	font: 400 18px $roboto
	color: #1a1818
	text-transform: uppercase
	margin: 40px 0 25px 0
.clearfix
	&:before,
	&:after
		content: ''
		display: table
		clear: both
.background_white
	background: white
.pt-30
	padding-top: 30px
.btn
	display: inline-block
	&_login, &_register
		margin: 0 -3px
		border: 1px solid #d5d6dc
		padding: 0 15px
		height: 31px
		color: #353535
		font: 400 12px/28px $roboto
	&_login
		border-right: none
	&_show-filter
		display: block
		border: 1px solid #f57812
		text-align: center
		color: #353535
		margin: 10px auto
		width: 320px
		padding: 15px
	&_show-more
		display: block
		margin: 10px auto
		margin-bottom: 45px
		text-align: center
		width: 270px
		height: 50px
		background: #f57812
		color: #fff
		font: 400 14px/50px $roboto
		text-transform: uppercase
		&.active
			img
				-webkit-transform: rotate(-360deg)
				-ms-transform: rotate(-360deg)
				transform: rotate(-360deg)
				transition: 1s all ease
		img
			margin: 0 5px
			margin-right: 40px
			vertical-align: middle
			transition: 1s all ease
		span
			vertical-align: middle
	&_all
		cursor: pointer
		width: 100%
		margin: 15px 0
		border-radius: 5px
		text-align: center
		color: #f57812
		font: 600 16px/41px $roboto
		border: 2px solid #f57812
	&_all-recommendations
		height: 45px
		margin-top: 10px
		cursor: pointer
		width: 100%
		font: 600 16px/41px $roboto
		border: 1px solid #a4a7b2
		color: #5d5e65
		border-radius: 5px
		text-align: center
		position: relative
		&.arrow::after
			content: ""
			position: absolute
			display: inline-block
			width: 15px
			height: 15px
			right: 15px
			top: 13px
			background-image: url("../images/right_arrow.png")

	&_choose
		cursor: pointer
		width: 100%
		max-width: 250px
		border-radius: 5px
		text-align: center
		color: #f57812
		font: 600 16px/41px $roboto
		border: 2px solid #f57812
	&_add-to-card
		cursor: pointer
		width: 100%
		max-width: 250px
		margin: 15px 0
		margin-right: 15px
		background: #f57812
		border-radius: 5px
		text-align: center
		color: #fff
		font: 600 16px/41px $roboto
		position: relative
		&::before
			content: ""
			height: 34px
			width: 34px
			display: inline-block
			position: absolute
			left: 10px
			top: 3px
			background-image: url('../images/shopping-cart-33x34.png')
	&_submit-order, &_one-click-buy
		width: 100%
		height: 45px
		margin: 15px 0
		background: #f57812
		border-radius: 5px
		text-align: center
		color: #fff
		font: 600 16px/45px $roboto
		border: none
	&_so-order-page
		width: 255px
		+breakpoint(mobileonly)
			width: 100%
	&_one-click-buy
		background: #cdcdd2
		color: #616176
		margin-bottom: 0
	&_left-comments
		padding: 0 20px
		border-radius: 5px
		text-align: center
		background-color: #f57812
		font: 600 16px/45px $roboto
		color: white
		text-transform: none
		float: right
		margin-top: -12px

.one-click-buy
	color: #f57812
	font: 400 14px $roboto
	text-decoration: underline
.breadcrumbs
	text-align: center
	margin-bottom: 20px
	font: 400 12px/16px $roboto
	&_cart
		display: inline-block
		text-align: left
		margin-top: 25px
	a
		color: #7c7c7c
	li
		display: inline-block
		margin-right: 10px
		position: relative
		&:not(:last-child):after
			content: "/"
			display: inline-block
			position: absolute
			right: -10px
			top: 0px
			color: #7c7c7c
.icon
	display: inline-block
	&_wishlist
		background: url(../images/favorites-22x22.png)
		background-position: 0px 0px
		width: 22px
		height: 18px
		margin-right: 30px
	&_cart
		margin-right: 15px
		background: url(../images/shopping-cart-22x22.png)
		width: 22px
		height: 22px
	&_phone
		vertical-align: middle
		background: url(../images/phone-ico-11x16.png)
		margin-right: 5px
		width: 11px
		height: 16px
	&_remove-item
		background: url(../images/remove_item.png)
		height: 12px
		width: 13px
.header-top
	font: 12px $roboto
	background: #fff
	color: #8c8c8c
	padding: 10px
	border-bottom: 1px solid #d5d6dc
	.header-login
		display: inline-block
		float: right
		+breakpoint(laptop)
			display: none
		a
			color: #1a1818
			&:hover
				color: #f57812
		.separate
			margin: 0 5px
.header-bottom
	padding: 20px 0
	.logo
		float: left
		margin:
			right: 10px
		+breakpoint(phablet)
			margin-right: 20px
		+breakpoint(laptop)
			margin-right: 50px
.right-side
	.first-line
		display: flex
		margin-bottom: 20px
		.search
			display: none
			&:hover
				i
					font-size: 14px
					color: #1a1818
			+breakpoint(laptop)
				flex-grow: 2
				margin-right: 20px
				display: inline-block
				vertical-align: middle
			form
				position: relative
				input
					-webkit-appearance: textfield
					outline: none
					padding: 8px
					padding-right: 50px
					border: 1px solid #d5d6dc
					width: 100%
					background: #f6f6f7
				button
					outline: none
					height: 100%
					padding: 0 12px
					position: absolute
					right: 0
					top: 0
					border: none
					background: transparent
				i
					font-size: 14px
					color: #1a1818
					&:hover
						color: #1a1818
				.login
					// display: inline-block
					flex-grow: 1
					vertical-align: top
	.second-line
		display: flex
		justify-content: flex-end
		+breakpoint(tablet)
			justify-content: space-between
		.menu
			&>ul
				&>li
					position: relative
					display: inline-block
					margin-right: 20px
					text-transform: uppercase
					font: 600 12px/16px $roboto
					color: #1a1818
					// cursor: pointer
					+breakpoint(laptop)
						margin-right: 45px
					&:hover
						ul
							display: block
						&:after
							-webkit-transform: rotate(-135deg)
							-ms-transform: rotate(-135deg)
							transform: rotate(-135deg)
					&:after
						border-bottom: 1px solid #1a1818
						border-right: 1px solid #1a1818
						content: ''
						display: inline-block
						height: 5px
						margin-top: -4px
						pointer-events: none
						position: absolute
						right: -12px
						top: 50%
						-webkit-transform-origin: 66% 66%
						-ms-transform-origin: 66% 66%
						transform-origin: 66% 66%
						-webkit-transform: rotate(45deg)
						-ms-transform: rotate(45deg)
						transform: rotate(45deg)
						-webkit-transition: all 0.15s ease-in-out
						transition: all 0.15s ease-in-out
						width: 5px
					&.open
						&:after
							-webkit-transform: rotate(-135deg)
							-ms-transform: rotate(-135deg)
							transform: rotate(-135deg)
					&:hover
						&::after
							//transform: rotate(-135deg)
						.sub-menu
							display: block
			.sub-menu
				display: none
				width: 190px
				position: absolute
				background: white
				color: #8b8b8b
				z-index: 10
				font: 400 13px $roboto
				text-transform: capitalize
				padding: 40px 15px 10px 15px
				&::before
					content: ""
					display: block
					width: 100%
					height: 6px
					border-top: 3px solid #f57812
					position: absolute
					top: 23px
					left: 0

				li
					margin-bottom: 10px
		.header-user-buttons
			display: inline-block
			+breakpoint(laptop)
				float: none
			.wishlist
				display: inline-block
				vertical-align: middle
			.cart
				display: inline-block
				vertical-align: middle
				span
					vertical-align: middle
					color: #1a1818
					font: bold 16px/14px $roboto
				i
					margin-left: 5px
					color: #1a1818
					font: 600 16px/14px $ruble
					vertical-align: middle
.company-info
	color: #8c8c8c
	display: inline-block
	a
		color: #b7b7b7
		text-decoration: none
		&:hover
			color: #353535
	ul
		list-style: none
	li
		display: inline-block
		margin-right: 35px
.main-menu
	display: flex
	justify-content: center
	flex-grow: 1
	flex-wrap: wrap
	background: #f6f6f7
	padding: 50px 0
.menu__item
	text-align: center
	margin: 10px 20px
	+breakpoint(laptop)
		margin: 10px 60px
	&__icon
		height: 80px
	&__name
		font-size: 12px
		color: #1a1818
		text-decoration: none
		text-transform: uppercase
.brands
	text-align: center
	padding: 70px 0 60px 0
.brand
	text-align: left
	position: relative
	display: inline-block
	margin-bottom: 20px
	.text
		position: absolute
		bottom: 18px
		left: 18px
		.name
			font:  600 24px/36px $roboto
			color: #fff
			margin-bottom: 15px
		.description
			font:  400 13px/16px $roboto
			color: #adadb3
			max-width: 290px
.car-selection, .model-selection
	display: flex
	padding: 0 20px
	justify-content: center
	align-items: center
	flex-wrap: wrap
	background: url('../images/photo/background_01.png')
	background-position: center
	background-size: cover
	padding: 50px 0
	+breakpoint(laptop)
		padding: 120 0 200 0
	.title
		width: 100%
		text-align: center
		display: block
		font: 36px/40px $roboto
		color: #fff
		text-transform: uppercase
		margin-bottom: 50px
		text-shadow: 2px 2px 5px black
	.selection
		text-align: center
		width: 100%
	button
		height: 50px
		outline: none
		background: #f57812
		text-transform: uppercase
		color: #fff
		border: 1px solid #f57812
		width: 120px
		margin: 10px 0
		position: relative
		top: -2px
		left: -1px
.model-selection
	background: url('../images/photo/background_02.png')
	background-size: cover
	margin-bottom: 30px
	&_grey
		background: #555551
		padding: 13px 0
		margin-bottom: 0
	+breakpoint(laptop)
		margin-bottom: 60px
		background-repeat: no-repeat
	.nice-select
		width: 90%
		+breakpoint(laptop)
			width: 200px
.product
	text-align: left
	background: #fff
	margin-bottom: 30px
	max-width: 276px
	height: 355px
	&_catalog
		+breakpoint(tablet)
			max-width: 100%
			height: 355px
			img
				width: 100%
	+breakpoint(mobileonly)
		margin: 0 auto 30px auto
	&:hover
		box-shadow: 0px 9px 29px -5px rgba(0,0,0,0.5)
	&__info
		position: relative
		padding: 20px 20px 25px
	&__rating
		margin-bottom: 20px
		.grey
			color: #bdbdc5
	&__name
		overflow: hidden
		display: block
		font: 13px/16px $roboto
		color: #1a1818
		height: 65px
		margin-bottom: 25px
		&:hover
			color: #cf650f
	&__price
		span
			color: #1a1818
			font: bold 16px/14px $roboto
		i
			font: 600 16px/14px $ruble
	.add-to-fav
		position: absolute
		width: 25px
		height: 25px
		cursor: pointer
		background: url(../images/add-to-fav-18x14.png) 5px 7px no-repeat
		top: 20px
		right: 10px
		&.active
			background: url(../images/add-to-fav-25x25.png) 0 0 no-repeat
	.add-to-cart
		position: absolute
		width: 34px
		height: 34px
		cursor: pointer
		bottom: 15px
		right: 15px
		&:after
			content: ''
			background: url(../images/shopping-cart-33x34.png) 0 0 no-repeat
			background-size: 34px 34px
			width: 34px
			height: 34px
			display: block
.last-seen
	text-align: center
	background: #f6f6f7
	padding: 90px 0
	.title
		color: #1a1818
		font: 400 18px/30px $roboto
		text-transform: uppercase
		letter-spacing: 4px
		margin-bottom: 50px
.flex-container
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	&.column
		flex-direction: column
	&.no-wrap
		flex-wrap: nowrap
	&.show-laptop
		+breakpoint(laptop)
			display: flex

.contacts-phone
	font:  600 14px $roboto
	font-weight: bold
	span
		vertical-align: middle
	&>a
		color: #1a1818 !important
		+breakpoint(tablet)
			line-height: 1.2!important
		+breakpoint(laptop)
			line-height: inherit


	+breakpoint(tablet)
		margin:
			bottom: 12px

		font-size: 21px
		margin-bottom: 0
	+breakpoint(laptop)
		margin-bottom: 12px
.contacts-info
	text-align: right
	font:  300 12px/1.5 $roboto
	color: #717171
	margin-bottom: 12px
	&:last-child
		margin-bottom: 25px
	+breakpoint(tablet)
		margin-bottom: 0
	+breakpoint(laptop)
		margin-bottom: inherit
.contacts-email
	text-align: right
	display: block
	font:  400 12px $roboto
	color: #717171
	margin: 0 0 5px 0
	+breakpoint(tablet)
		margin: 0
	+breakpoint(laptop)
		margin: 15px 0 25px 0
.right-laptop
	+breakpoint(laptop)
			text-align: right
.left-mobileonly-phablet
	text-align: left
	+breakpoint(tablet)
		text-align: inherit

.padding-off
	&_right, &_left
		padding: 0
.footer
	text-align: center
	padding-top: 35px
	+breakpoint(tablet)
		text-align: left
	&__payment
		margin-bottom: 25px
	&__title
		color: #1a1818
		text-transform: uppercase
		font:  600 13px $roboto
		font-weight: bold
		margin-bottom: 15px
		cursor: pointer
	.flex-column
		flex-grow: 1
		flex-basis: 100%
		+breakpoint(tablet)
			flex-basis: auto
			&_grid-row
				flex-grow: 4
				text-align: right
				+breakpoint(laptop)
						text-align: left
						margin-left: 20px

	&__list
		font:  300 12px $roboto
		display: none
		li:last-child
			padding-bottom: 30px
			display: block
		+breakpoint(tablet)
			display: block

		a
			color: #717171
			line-height: 2.3

	&-rights
		color: #858585
		font:  300 11px $roboto
		text-align: center
		padding: 20px 0 25px 0
		+breakpoint(tablet)
			text-align: left
			display: inline-block
	&__design-autor
		display: none
		color: #858585
		font:  300 11px $roboto
		a
			text-decoration: underline
			color: #858585
		+breakpoint(tablet)
			display: inline-block
			float: right
			font-size: 12px
			padding: 20px 0 25px 0
	hr
		display: block
		color: #cbcbcb
		height: 1px
		border: none
		background: #cbcbcb
.slider-arrows
	.slider_controls
		top: -90px
		position: relative
		width: 100%
		max-width: 1200px
		display: flex
		justify-content: space-between
		&.product_card_page
			top: -40px
.section
	&-catalog
		background-color: #f6f6f7
		&_padding
			padding: 45px 0 70px 0
	&-product-catalog
			background-color: #f6f6f7
			padding: 65px 0 40px 0
	&-product-items
		padding: 60px 0
.title
	color: #1a1818
	font: 400 18px/1.3 $roboto
	text-transform: uppercase
	letter-spacing: 4px
	margin-bottom: 50px
	text-align: center
	&.normal
		letter-spacing: normal
		margin-bottom: 25px
	&.left
		text-align: left
.tabs
	padding: 65px 0 75px 0
	&.pb-25
		padding-bottom: 25px
	&__content
	  display: none
	margin-top: 40px

	&__content.active
	  display: block

	&__caption
		border-bottom: 1px solid #cbcbcb
		cursor: pointer
		margin-bottom: 30px
		li
			text-transform: uppercase
			margin-bottom: 10px

			+breakpoint(phablet)
				padding-bottom: 17px
				display: inline-block
				margin-bottom: 0
			&.active
				+breakpoint(phablet)
					border-bottom: 3px solid #f57812
				+breakpoint(mobileonly)
					span
						border-bottom: 3px solid #f57812
			&:not(:last-child)
				margin-right: 10px
				+breakpoint(tablet)
					margin-right: 30px
.product_card-menu
	padding: 65px 0 25px 0
	font: 400 13px $roboto
	color: #1a1818
	background-color: white
	&.fixed
		position: fixed
		top: 0

	li
		text-transform: uppercase
		margin-bottom: 10px
		display: inline-block
		+breakpoint(phablet)
			padding-bottom: 12px
			margin-bottom: 0
		&.active
			border-bottom: 3px solid #f57812
		&:not(:last-child)
			margin-right: 10px
			+breakpoint(tablet)
				margin-right: 30px
.catalog-item
	text-align: center
	padding: 30px
	background-color: white
	margin-bottom: 30px
	display: block
	color: black
	&__img
		height: 140px
		margin-bottom: 25px
		display: flex
		justify-content: center
		align-items: center
	&:hover
		box-shadow: 0px 9px 29px -5px rgba(0,0,0,0.5)
		color: #f57812
	&__name
		font-size: 14px
.product-item
	text-align: center
	margin-bottom: 30px
	background-color: white
	padding: 20px
	display: block
	color: inherit
	&__name
		height: 40px
		overflow: hidden
	&__img
		height: 120px
		overflow: hidden
		img
			max-height: 100%


#review-slider_wrapper
	position: relative
	&::after
		right: 0
		content: ""
		display: inline-block
		width: 55px
		position: absolute
		top: 0
		bottom: 0
		background: linear-gradient( to right, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 90%)
	.lSSlideWrapper
		+breakpoint(laptop)
			padding: 0 15px
.sub-title
	max-width: 435px
	color: #aeaeae
	font: 400 13px/16px $roboto
	text-align: center
	margin: 0 auto 55px auto
.review-title
	color: #1a1818
	font: 400 18px/30px $roboto
	text-transform: uppercase
	letter-spacing: 4px
	margin-bottom: 25px
	text-align: center
	&:before
		margin-top: 60px
		content: ''
		display: inline-block
		width: 30px
		height: 24px
		background-image: url(../images/vk-icon-30x24.png)
		vertical-align: text-bottom
		margin-right: 15px
.ls-prevSlide
	background-image: url(../images/slider_controls.png)
	background-position: 0 0
	width: 52px
	height: 52px
	+breakpoint(mobileonly)
		display: none
.ls-nextSlide
	background-image: url(../images/slider_controls.png)
	background-position: 53px 0
	width: 52px
	height: 52px
	+breakpoint(mobileonly)
		display: none
.company-contacts
	display: inline-block
	+breakpoint(laptop)
		float: right
	.phone
		font: 600 14px/16px $roboto
		color: #1a1818
		margin-right: 20px
	.mail
		font: 400 12px/16px $roboto
		text-decoration: none
		color: #8e8e8e
.parts-menu
	box-shadow: 0px 9px 29px -5px rgba(0,0,0,0.5)
	display: flex
	justify-content: center
	flex-wrap: wrap
	position: fixed
	z-index: 10
	background: #fff
	left: 0
	right: 0
	top: -3000px
	transition: 1s all ease
	&.active
		top: 0
		transition: 1s all ease
.parts-menu-item
	margin: 10px 15px
	&__img
		opacity: 0.5
		height: 50px
		width: 65px
	text-align: center
	&__name
		color: #1a1818
		font-size: 12px
	&:hover
		.parts-menu-item__img
			opacity: 1
		.parts-menu-item__name
			color: #f57812
.filters
	width: 320px
	text-align: center
	box-shadow: 0px 1px 3px 1px rgba(182,183,184,1)
	padding: 50px
	height: 100%
	background: #fff
	transition: all 0.4s ease
	position: fixed
	top: 0
	right: -320px
	z-index: 4
	overflow-y: scroll
	visibility: hidden
	-webkit-overflow-scrolling: touch
	&_active
		transition: all 0.4s ease
		right: 0
		visibility: visible
		bottom: 0
		top: 0
		position: fixed
	+breakpoint(laptop)
		display: block
		width: 100%
		height: auto
		overflow: visible
		right: 0
		z-index: 4
		visibility: visible
		position: relative
		padding: 30px 20px
		box-shadow: none
		margin-bottom: 50px
	&__close-btn
		position: absolute
		right: 15px
		top: 15px
.filter__block
	text-align: left
	padding: 25px 0
	.price-filter
		display: flex
		align-items: center
		justify-content: space-between
	input[name="brand"]
		height: 38px
		width: 100%
		outline: none
		padding: 0 10px
		border: 1px solid #dadadc
	input[type="text"]
		height: 38px
		padding: 0 10px
		border: 1px solid #dadadc
		outline: none
		flex-grow: 2
		display: inline-block
		width: 50px
		+breakpoint(desktop)
			width: 75px
	.separate
		flex-grow: 1
		margin: 0 5px
		flex-grow: 1
	button
		height: 38px
		background: #f57812
		color: #fff
		padding: 0 20px
		border-radius: 3px
		border: none
		margin-left: 10px
	&_top
		padding-top: 0
	a
		color: #778d53
		font-size: 14px
	a:hover
		color: #778d53
	a.active
		color: #5b7038
	&__name
		color: #1a1818
		font: 600 14px/16px $roboto
		margin-bottom: 20px
		text-transform: uppercase
		&_faq
			font-size: 24px
			color: #010101
			margin-bottom: 30px
	&__item
		margin-bottom: 15px
		color: #5e5e5e
		font-size: 14px
		&:last-child
			margin-bottom: 0px
	&_slider
		border: none
		margin-bottom: 20px
.page-background
	background: #f6f6f7
.item-show-params
	padding: 0 15px
	display: flex
	align-items: center
	margin-bottom: 20px
	justify-content: space-between
.show-items-on-page
	display: inline-block
	margin: 20px 0
	font-size: 13px
	color: #8b8b8b
	span
		margin-right: 6px
		+breakpoint(tablet)
			margin-right: 10px
	a
		color: #f57812
		margin-right: 6px
		+breakpoint(tablet)
			margin-right: 10px
	a.active
		span
			color: #fff
			background: #f57812
			padding: 4px 6px
			border-radius: 3px
			color: #fff
.sort-items
	display: inline-block
	.nice-select
		height: 38px
		width: 190px
		color: #8b8b8b
		font: 400 13px/38px $roboto
.items-found
	color: 8b8b8b
	font: 400 13px/38px $roboto
//start product card
.product_card
	&__products
		.product-item
			padding: 0
			margin: 0
			&__img
				height: 65px
				margin-bottom: 10
			&__name
				height: 35px
				font-size: 14px
	&__title
		font: 400 30px $roboto
		margin-bottom: 15px
	&__price
		margin-bottom: 40px
		span
			color: #1a1818
			font: bold 26px $roboto
			padding-right: 15px
		i
			font: 600 26px $ruble

.form-label
	max-width: 300px
	margin: 0 20px 20px 20px
	text-align: left
	position: relative
	.close-btn
		position: absolute
		top: 15
		right: 0
	&__title
		margin-bottom: 15px
		text-transform: uppercase
		font: 600 14px/45px $roboto
		color: #1a1818
	form
		border: 2px solid #dedfe3
		padding: 25px 20px
	input
		width: 100%
		display: block
		&[type="text"]
			height: 35px
			border: 1px solid #dedfe3
			padding: 0 20px
			outline: none
			margin-bottom: 20px
		&[type="submit"]
			width: 100%
			border-radius: 5px
			text-align: center
			background-color: #f57812
			font: 600 16px/45px $roboto
			color: white
			outline: none
			border: none
	.label
		margin-bottom: 15px
		font: bold 12px $roboto
		text-transform: uppercase
		color: #1a1818
		span
			color: red

.advantages
	margin: 45px 0
	li
		padding-left: 40px
		position: relative
		&.price
			&::before
				background-image: url('../images/advantage-icon_01.png')
		&.warranty
			&::before
				background-image: url('../images/advantage-icon_02.png')
				left: 2px
		&.experts
			&::before
				background-image: url('../images/advantage-icon_03.png')
				left: 3px
		&.refund
			&::before
				background-image: url('../images/advantage-icon_04.png')
				left: -1px
		&::before
			position: absolute
			content: ""
			display: inline-block
			height: 30px
			width: 30px
			left: 0
			background-repeat: no-repeat

	li:not(:last-child)
		margin-bottom: 20px
	&__text
		color: #727272
		font: 400 14px $roboto
	&__title
		display: block
		font: 400 16px $roboto
		color: #353535
.article
	color: #858585
	font: 400 12px $roboto
	margin-bottom: 10px
.rating
	margin-bottom: 25px
.comments
	p
		padding: 25px 20px 30px 20px
		background-color: #f6f6f7
		margin-bottom: 30px
	.rating
		margin-bottom: 20px
	&__name
		color: #707070
		font: 400 12px $roboto
		margin-bottom: 10px
.product_card-slider
	margin-bottom: 50px
.mt
	&-85
		margin-top: 85px
	&-20-mobileonly
		+breakpoint(mobileonly)
		 	margin-top: 20px
.mb
	&-75
		margin-bottom: 75px
	&-0-phablet
		+breakpoint(phablet)
			margin-bottom: 0
.flex-column
	&__thumbnail
		justify-content: space-between
		flex-grow: 0
		text-align: center
		margin-bottom: 20px
		+breakpoint(laptop)
			width: 210px
			margin-bottom: 65px
		img
			display: inline-block
			width: 95px
			height: 60px
			cursor: pointer
			&:hover
				border: 2px solid #fdb250
	&__main
		justify-content: center
		align-items: center
		display: flex
		flex-grow: 1
		order: -1
		margin-bottom: 20px
		+breakpoint (laptop)
			order: 1
			margin-bottom: 65px
		img
			display: inline-block
			cursor: pointer
//end product_card
table.cart
	background: #fff
	margin-bottom: 55px
	width: 100%
	border-spacing: 0
	th
		color: #858585
		padding: 10px 0 10px 25px
		text-align: left
		font-size: 12px
		background: #f6f6f7
	th.remove-item
		text-align: right
	td
		vertical-align: top
		padding: 25px 0 25px 25px
		border-top: 1px solid #d5d6dc
	td.picture
		width: 20%
	td.description
		width: 40%
	td.price,td.count
		width: 15%
		input
			position: relative
			top: -6px
			text-align: center
			outline: none
			width: 60px
			height: 33px
			line-height: 33px
			font: 400 14px/14px $roboto
	td.remove-item
		padding-right: 25px
		width: 10%
		text-align: right
.cart-item-name
	font: 600 13px/16px $roboto
	margin-bottom: 20px
	color: #1a1818
.cart-item-description
	max-width: 248px
	color: #aeaeae
	font: 400 13px/16px $roboto
.page-base
	background: #f6f6f7
	border-bottom: 1px solid transparent
.cart-item-price
	span
		color: #1a1818
		font: bold 16px/14px $roboto
	i
		font: 600 16px/14px $ruble
.order-sum
	color: #d31d1d
	span
		color: #d31d1d
.your-order
	background: #fff
	padding: 20px
	position: relative
	top: 36px
	&_order-page
		top: 0
		margin-bottom: 40px
		+breakpoint(laptop)
			padding-bottom: 150px

	&__title
		text-transform: uppercase
		color: #1a1818
		font: 600 12px/16px $roboto
	&__items-count
		margin-bottom: 10px
		color: #858585
		font: 400 12px/16px $roboto
	table
		border-spacing: 0
		margin-bottom: 15px
		border-collapse: collapse
		width: 100%
		font: bold 14px/16px $roboto
		td:last-child
			text-align: right
		td
			padding: 10px 0 10px 0
		tr
			border-top: 1px solid #d5d6dc
		tr:first-child
			border: none
.coupon
	text-align: right
	a
		color: #8e8e8e
		font: 400 12px/16px $roboto
.separator
	text-align: center
	overflow: hidden
	span
		position: relative
		color: #8c8c8c
		font: 400 12px/16px $roboto
	span:before, span:after
		content: ''
		position: absolute
		width: 1000px
		height: 1px
		background: #b8b8b8
		top: 50%
		transform: translateY(-50%)
		right: 180%
	span:after
			right: auto
			left: 180%
.page-title
	font: 400 30px/32px $roboto
	text-transform: uppercase
	margin-bottom: 30px
	letter-spacing: 3px
.order-form
	background: #fff
	padding: 35px
	margin-bottom: 70px
	font: 400 12px/16px $roboto
	.title
		margin: 0 0 25px 0
		text-align: left
	.form-section
		margin-bottom: 60px
.input-wrap
	text-align: left
	position: relative
	&.input-wrap_checkbox
		margin-top: 15px
		+breakpoint(tablet)
			margin-top: 0
			margin-bottom: 0
			width: auto
			padding-left: 105px
		+breakpoint(laptop)
			display: block
			margin-bottom: 0
	input
		border: 1px solid #d3d3d3
		font: 400 12px/35px $roboto
		height: 35px
		outline: none
		padding: 0 10px
		width: 100%
		+breakpoint(tablet)
			width: 350px

	+breakpoint(tablet)
		margin: 0 0 15px 0

	span
		display: inline-block
		font: 600 12px/16px $roboto
		text-transform: uppercase
	.nice-select
		border: 1px solid #d3d3d3
		margin: 0
		vertical-align: middle
		font: 400 12px/35px $roboto
		height: 35px
		outline: none
		padding: 0 10px
		width: 100%
		+breakpoint(tablet)
			width: 350px
	.name
		font-size: 12px
		width: 105px
		margin-top: 15px
		margin-bottom: 5px
		+breakpoint(tablet)
			width: 105px
			margin-top: 0
			margin-bottom: 5px
		&:after
			content: "*"
			color: #f57812
			padding-left: 5px
		&:last-child
			color: #f52424
			font-size: 12px
			margin-top: 5px
			font-weight: normal
			display: none
	.index
		width: 100%
		+breakpoint(tablet)
			width: 100px
input[type="checkbox"]
	color: #9d9e9f
	font-size: 11px
	width: 20px
	height: auto
	// background-color: transparent
	// margin-top: -16px
	// visibility: hidden
	padding-left: 30px
	margin-bottom: 13px
	// vertical-align: top
	display: inline-block
label
	font: 400 12px/12px $roboto
	margin-right: 25px
	+breakpoint(mobileonly)
		margin-right: 15px
input[type="radio"]
	height: auto
	float: none
	visibility: hidden
	& + label
		font: 400 12px/16px $roboto
		margin-right: 50px
		position: relative
		right: -25px
		display: block
		+breakpoint(phablet)
			display: inline-block
			right: -10px
	& + label:before
		content: ""
		display: inline-block
		width: 18px
		height: 18px
		position: absolute
		background-image: url(../images/radio-unchecked.png)
		margin-left: -25px
		background-repeat: no-repeat
	&:checked + label:before
		background-image: url(../images/radio-checked.png)
#registers_1,#registers_2
	height: auto
	width: auto
	display: inline-block
.options
	text-transform: uppercase
	font: 600 12px/12px $roboto
.order-steps
	+breakpoint(laptop)
		float: right
		position: relative
		top: -90px
		margin-bottom: -80px
	.step
		display: block
		margin: 20px 10px
		opacity: 0.3
		&.active
			opacity: 1
		&__img
			display: inline-block
			vertical-align: middle
		&__name
			display: inline-block
			vertical-align: middle
			font: 600 12px/18px $roboto
			+breakpoint(phablet)
				max-width: 72px
		+breakpoint(phablet)
			display: inline-block
.head-image
	height: 340px
	background: url(../images/photo/background_03.png)
	background-size: cover
	display: flex
	justify-content: center
	align-items: center
	span
		text-transform: uppercase
		color: #fff
		font: 600 36px/12px $roboto
		letter-spacing: 4px
		margin: 30px 5px
	.model
		font: 300 36px/12px $roboto
table.cart, table.cart-mobile
	background: #fff
	margin-bottom: 55px
	width: 100%
	border-spacing: 0
	th
		color: #858585
		padding: 10px 0 10px 25px
		text-align: left
		font-size: 12px
		background: #f6f6f7
	th.remove-item
		text-align: right
	td
		vertical-align: top
		padding: 25px 0 25px 25px
		border-top: 1px solid #d5d6dc
	td.picture
		width: 20%
	td.description
		position: relative
		width: 40%
		.icon_remove-item
			position: absolute
			right: 7px
			top: 7px
	td.price,td.count
		width: 15%
		input
			position: relative
			top: -6px
			text-align: center
			outline: none
			width: 60px
			height: 33px
			line-height: 33px
			font: 400 14px/14px $roboto
	td.remove-item
		padding-right: 25px
		width: 10%
		text-align: right
table.cart-mobile
	margin-bottom: 20px
	input
		// position: relative
		// top: -6px
		margin-top: 15px
		margin-right: 10px
		text-align: center
		outline: none
		width: 40px
		height: 33px
		line-height: 33px
		font: 400 14px/14px $roboto
.cart-item-name
	font: 600 13px/16px $roboto
	margin-bottom: 20px
	color: #1a1818
.cart-item-description
	max-width: 248px
	color: #aeaeae
	font: 400 13px/16px $roboto
.page-base
	background: #f6f6f7
.cart-item-price
	span
		color: #1a1818
		font: bold 16px/14px $roboto
	i
		font: 600 16px/14px $ruble
.order-sum
	color: #d31d1d
	span
		color: #d31d1d
.your-order
	background: #fff
	padding: 20px
	position: relative
	top: 36px
	&_order-page
		top: 0
		margin-bottom: 40px
		+breakpoint(laptop)
			padding-bottom: 150px

	&__title
		text-transform: uppercase
		color: #1a1818
		font: 600 12px/16px $roboto
	&__items-count
		margin-bottom: 10px
		color: #858585
		font: 400 12px/16px $roboto
	table
		border-spacing: 0
		margin-bottom: 15px
		border-collapse: collapse
		width: 100%
		font: bold 14px/16px $roboto
		td:last-child
			text-align: right
		td
			padding: 10px 0 10px 0
		tr
			border-top: 1px solid #d5d6dc
		tr:first-child
			border: none
.coupon
	text-align: right
	a
		color: #8e8e8e
		font: 400 12px/16px $roboto
.separator
	text-align: center
	overflow: hidden
	span
		position: relative
		color: #8c8c8c
		font: 400 12px/16px $roboto
	span:before, span:after
		content: ''
		position: absolute
		width: 1000px
		height: 1px
		background: #b8b8b8
		top: 50%
		transform: translateY(-50%)
		right: 180%
	span:after
			right: auto
			left: 180%
.page-title
	font: 400 30px/32px $roboto
	text-transform: uppercase
	margin-bottom: 30px
	letter-spacing: 3px
.order-form
	background: #fff
	padding: 35px
	margin-bottom: 70px
	font: 400 12px/16px $roboto
	.title
		margin: 0 0 25px 0
		text-align: left
	.form-section
		margin-bottom: 60px
		&_checkbox
			margin-bottom: 30px
.input-wrap
	text-align: left
	position: relative
	&.input-wrap_checkbox
		margin-top: 15px
		+breakpoint(tablet)
			margin-top: 0
			margin-bottom: 0
			width: auto
			padding-left: 105px
		+breakpoint(laptop)
			display: block
			margin-bottom: 0
	input
		border: 1px solid #d3d3d3
		font: 400 12px/35px $roboto
		height: 35px
		outline: none
		padding: 0 10px
		width: 100%
		+breakpoint(tablet)
			width: 350px

	+breakpoint(tablet)
		margin: 0 0 15px 0

	span
		display: inline-block
		font: 600 12px/16px $roboto
		text-transform: uppercase
	.nice-select
		border: 1px solid #d3d3d3
		margin: 0
		vertical-align: middle
		font: 400 12px/35px $roboto
		height: 35px
		outline: none
		padding: 0 10px
		width: 100%
		+breakpoint(tablet)
			width: 350px
	.name
		font-size: 12px
		width: 105px
		margin-top: 15px
		margin-bottom: 5px
		+breakpoint(tablet)
			width: 105px
			margin-top: 0
			margin-bottom: 5px
		&:after
			content: "*"
			color: #f57812
			padding-left: 5px
		&:last-child
			color: #f52424
			font-size: 12px
			margin-top: 5px
			font-weight: normal
			display: none
	.index
		width: 100%
		+breakpoint(tablet)
			width: 100px
input[type="checkbox"]
	color: #9d9e9f
	font-size: 11px
	width: 20px
	height: auto
	// background-color: transparent
	// margin-top: -16px
	// visibility: hidden
	padding-left: 30px
	margin-bottom: 13px
	// vertical-align: top
	display: inline-block
label
	font: 400 12px/12px $roboto
	margin-right: 25px
	+breakpoint(mobileonly)
		margin-right: 15px
input[type="radio"]
	height: auto
	float: none
	visibility: hidden
	& + label
		font: 400 12px/16px $roboto
		margin-right: 50px
		position: relative
		right: -25px
		display: block
		+breakpoint(phablet)
			display: inline-block
			right: -10px
	& + label:before
		content: ""
		display: inline-block
		width: 18px
		height: 18px
		position: absolute
		background-image: url(../images/radio-unchecked.png)
		margin-left: -25px
		background-repeat: no-repeat
	&:checked + label:before
		background-image: url(../images/radio-checked.png)
#registers_1,#registers_2
	height: auto
	width: auto
	display: inline-block
.options
	text-transform: uppercase
	font: 600 12px/12px $roboto
.order-steps
	+breakpoint(laptop)
		float: right
		position: relative
		top: -90px
		margin-bottom: -80px
	.step
		display: block
		margin: 20px 10px
		opacity: 0.3
		&.active
			opacity: 1
		&__img
			display: inline-block
			vertical-align: middle
		&__name
			display: inline-block
			vertical-align: middle
			font: 600 12px/18px $roboto
			+breakpoint(phablet)
				max-width: 72px
		+breakpoint(phablet)
			display: inline-block
.head-image
	height: 340px
	background: url(../images/photo/background_03.png)
	background-size: cover
	display: flex
	justify-content: center
	align-items: center
	span
		text-transform: uppercase
		color: #fff
		font: 600 36px/12px $roboto
		letter-spacing: 4px
		margin: 30px 5px
	.model
		font: 300 36px/12px $roboto
.fixed-overlay
	position: fixed
	overflow: auto
	left: 0
	top: 0
	width: 100%
	height: 100%
	background-color: rgba(70,70,70,0.9)
	z-index: 100
	display: none
	&.fast-cart-modal.active
		display: block
	&.form-label-modal.active
		display: block
	&__modal
		text-align: center
		&::after
			display: inline-block
			vertical-align: middle
			width: 0
			height: 100%
			content: ''
.modal
	display: inline-block
	vertical-align: middle
	opacity: 1
	background-color: white
	position: relative
.fast-cart
	height: 509px
	background: #fff
	max-width: 800px
	position: relative
	.close-btn
		position: absolute
		right: 10px
		top: 10px
	table
		margin-bottom: 0
		td
			border: none
	&__left-side
		height: 509px
		position: relative
		padding: 30px 20px
		float: left
		width: 54%
		.cart-item-name
			display: inline-block
		.cart-block
			height: 320px
			overflow-x: scroll
		.buttons
			width: 100%
			padding: 0 20px
			position: absolute
			bottom: 28px
			left: 0
		.btn_submit-order
			margin: 0
			margin-top: 10px
		.picture
			padding: 25px 0 25px 0px
		.final-price
			width: 90%
			position: absolute
			bottom: 97px
			left: 22px
			border-top: 1px solid #d3d3d7
			padding-top: 20px
			text-align: right
			span
				font: 600 18px/12px $roboto
				margin: 0 5px
	&__right-side
		table
			td
				padding: 15px 15px 10px 15px
		.title
			margin: 0 0 30px 0
			font: 400 18px/12px $roboto
			letter-spacing: normal
			text-transform: none
			text-align: left
		padding: 30px 20px
		float: left
		background: #f1f1f1
		width: 46%
.recommend-block
	margin-bottom: 3px
	.cart-item-name
		margin-bottom: 10px
	.cart-item-price
		display: inline-block
		position: relative
		top: -12px
	.add-to-cart
		margin-left: 5px
		display: inline-block
		width: 34px
		height: 34px
		cursor: pointer
		bottom: 15px
		right: 15px
		&:after
			content: ''
			background: url(../images/shopping-cart-33x34.png) 0 0 no-repeat
			background-size: 34px 34px
			width: 34px
			height: 34px
			display: block
.cart-item-count
	text-align: left
	font: 400 18px/12px $roboto
	text-transform: uppercase
	margin-bottom: 10px
.filters-select
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 35px
	flex-wrap: wrap
	padding-top: 55px
	+breakpoint(tablet)
		display: flex
	+breakpoint(laptop)
		padding: 0

	input, select
		height: 40px
		border: solid 1px #d3d3d3
		outline: none
		padding: 10px
		&::placeholder
			color: #8b8b8b

	input
		width: 100px


	.nice-select
		height: 40px
		border: solid 1px #d3d3d3
		width: 130px
		margin: 0
		line-height: 40px
		color: #8b8b8b
	&__left
		display: flex
		justify-content: space-between
		align-items: center
		flex-basis: 100%
		margin-bottom: 20px
		+breakpoint(mobileonly)
			flex-wrap: wrap
			.nice-select
				order: -1

		+breakpoint(laptop)
			flex-basis: 515px
			margin: 0
	&__center
		display: none
		+breakpoint(tablet)
			display: inline-block
	&__right
		.label
			color: #8b8b8b
			font: 400 13px $roboto
			padding-right: 10px
		.nice-select
			width: 200px
	&-col.active
		+breakpoint(tablet)
			.product
				height: 420px
	.show-
		&3,&4
			display: inline-block
			cursor: pointer
			&.active span
				background-color: #f57812

			span
				display: inline-block
				width: 15px
				height: 15px
				margin-right: 4px
				background-color: #555551
		&4
			margin-left: 30px
.border-transparent
	border: 1px solid transparent
