@import "fonts"
@import "vars"
@import "_mixins/media"


*
	box-sizing: border-box
img
	max-width: 100%
body
	position: relative
	overflow-x: hidden
	min-height: 100%
	min-width: 320px

	z-index: 0

	font-family: $roboto // Основной шрифт

button, input[type="button"], input[type="reset"], input[type="submit"]
	padding: 0
a:active,
a:focus,
a:hover
	text-decoration: none
a
	text-decoration: none
ul
	list-style: none
.clearfix
	&:before,
	&:after
		content: ''
		display: table
		clear: both

.header-top
	font: 12px $roboto
	background: #fff
	color: #8c8c8c
	padding: 10px
	border-bottom: 1px solid #d5d6dc
	

.company-info
	color: #8c8c8c
	display: inline-block
	a
		color: #b7b7b7
		text-decoration: none
		&:hover
			color: #353535
	ul
		list-style: none
	li
		display: inline-block
		margin-right: 35px
.main-menu
	display: flex
	justify-content: center
	flex-grow: 1
	flex-wrap: wrap
	background: #f6f6f7
	padding: 50px 0
.menu__item
	text-align: center
	margin: 10px 20px
	+breakpoint(laptop)
		margin: 10px 60px
	&__icon
		height: 80px
	&__name
		font-size: 12px
		color: #1a1818
		text-decoration: none
		text-transform: uppercase
.brands
	padding: 70px 0 60px 0
.brand
	position: relative
	display: block
	margin-bottom: 20px
	.text
		position: absolute
		bottom: 18px
		left: 18px
		.name
			font:  600 24px/36px $roboto
			color: #fff
			margin-bottom: 15px
		.description
			font:  400 13px/16px $roboto
			color: #adadb3
			max-width: 290px
.car-selection
	display: flex
	padding: 0 20px
	justify-content: center
	align-items: center
	flex-wrap: wrap
	background: url('../images/photo/background_01.png')
	background-position: center
	background-size: cover
	padding: 50 0
	+breakpoint(laptop)
		padding: 120 0 200 0
	.title
		width: 100%
		text-align: center
		display: block
		font: 36px/40px $roboto
		color: #fff
		text-transform: uppercase
		margin-bottom: 50px
		text-shadow: 2px 2px 5px black
	.selection
		text-align: center
		width: 100%
	button
		height: 50px
		outline: none
		background: #f57812
		text-transform: uppercase
		color: #fff
		border: 1px solid #f57812
		width: 120px
		position: relative
		top: -2px
		left: -1px
.product
	text-align: left
	background: #fff
	width: 276px
	&:hover
		box-shadow: 0px 20px 32px -14px rgba(102,99,102,1)
	&__info
		position: relative
		padding: 20px 20px 25px
	&__rating
		margin-bottom: 20px
	&__name
		display: block
		font: 13px/16px $roboto
		color: #1a1818
		margin-bottom: 25px
		&:hover
			color: #cf650f
	&__price
		span
			color: #1a1818
			font: bold 16px/14px $roboto
		i
			font: 600 16px/14px $ruble
	.add-to-fav
		position: absolute
		right: 18
		top: 18
		width: 25px
		height: 25px
		cursor: pointer
		top: 20px
		right: 10px
		&:after
			content: ''
			background: url(../images/add-to-fav-18x14.png) 0 0 no-repeat
			background-size: 18px 14px
			width: 18px
			height: 14px
			display: block
	.add-to-cart
		position: absolute
		width: 34px
		height: 34px
		cursor: pointer
		bottom: 15px
		right: 15px
		&:after
			content: ''
			background: url(../images/shopping-cart-33x34.png) 0 0 no-repeat
			background-size: 34px 34px
			width: 34px
			height: 34px
			display: block
.last-seen
	text-align: center
	background: #f6f6f7
	padding: 90px 0
	.title
		color: #1a1818
		font: 400 18px/16px $roboto
		text-transform: uppercase
		letter-spacing: 4px
		margin-bottom: 50px
.flex-container
	display: flex
	flex-wrap: wrap
	justify-content: space-between
.contacts-phone
	font:  600 14px $roboto
	font-weight: bold
	margin-bottom: 12px
	+breakpoint(tablet)
		font-size: 21px
.contacts-info
	font:  300 12px/1.5 $roboto
	color: 717171
	
	&:last-child
		margin-bottom: 25px
.contacts-email
	font:  400 12px $roboto
	color: 717171
	margin: 5px 0 5px 0
	+breakpoint(tablet)
		margin: 15px 0 25px 0
.footer
	text-align: center
	padding-top: 35px
	+breakpoint(tablet)
		text-align: left
	&__title
		color: #1a1818
		text-transform: uppercase
		font:  600 13px $roboto
		font-weight: bold
		margin-bottom: 15px
		cursor: pointer
	.flex-column
		flex-basis: 100%
		+breakpoint(tablet)
			flex-basis: auto
		
	&__list
		font:  300 12px $roboto
		display: none
		li:last-child
			padding-bottom: 30px
			display: block
		+breakpoint(tablet)
			display: block
		
		a
			color: #717171
			line-height: 2.3
			
	&-rights
		color: #858585
		font:  300 11px $roboto
		text-align: center
		padding: 20px 0 25px 0
		+breakpoint(tablet)
			text-align: left
			display: inline-block
	&__design-autor
		display: none
		color: #858585
		font:  300 11px $roboto
		a
			text-decoration: underline
			color: #858585
		+breakpoint(tablet)
			display: inline-block
			float: right
			font-size: 12px
			padding: 20px 0 25px 0
	hr
		display: block
		color: #cbcbcb
		height: 1px
		border: none
		background: #cbcbcb
		
